html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1, .boxie-question, .stacker-question {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }
  
optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }
  
*, *:before, *:after {
    box-sizing: border-box;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}
*, *:before, *:after {
    box-sizing: border-box;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizelegibility;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.slide-block-inner * {
    white-space: normal;
}
button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
}
.body-slides {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}
.slide-block {
    display: block;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    vertical-align: top;
    width: 100%;
    z-index: 2;
}
img {
    max-width: 100%;
}
img {
    border: 0 none;
}

.slide-head-block {
  margin-left: 0;
  z-index: -1;
  padding-right: 50px;
  position: relative; }
  .slide-head-block::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: 1; }
    @media screen and (max-width: 650px) {
      .slide-head-block::after {
        display: none; } }
  .firefox .slide-head-block {
    z-index: 0; }
  @media screen and (max-width: 650px) {
    .slide-head-block {
      width: 100%;
      -webkit-box-shadow: none;
      box-shadow: none;
      padding-right: 20px; } }
  .slide-head-block .slide-block-inner {
    width: 700px;
    /*position: fixed;*/
    padding-left: 50px;
    z-index: 1; }
    @media screen and (max-width: 900px) {
      .slide-head-block .slide-block-inner {
        width: 550px; } }
    @media screen and (max-width: 650px) {
      .slide-head-block .slide-block-inner {
        position: relative;
        width: 100%;
        padding-top: 80px;
        padding-left: 20px;
        padding-bottom: 10px; } }
    .firefox .slide-head-block .slide-block-inner {
      position: relative; }

.slide-subhead-block {
  width: 600px; }
  @media screen and (max-width: 650px) {
    .slide-subhead-block {
      padding-top: 30px; }
      .slide-subhead-block h1, .slide-subhead-block .boxie-question, .slide-subhead-block .stacker-question {
        margin-bottom: 0; }
      .slide-subhead-block .slide-head-count {
        margin-top: 0; }
      .slide-subhead-block .slide-block-inner {
        padding-top: 0; } }

.slide-block-inner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /*min-height: 100%;*/
  width: 100%;
  bottom: 0;
  top: 0;
  padding: 100px 40px 40px; }
  .slide-block-inner * {
    white-space: normal; }
  @media screen and (max-width: 650px) {
    .slide-block-inner {
      height: 100%;
      min-height: 0;
      overflow: visible;
      padding: 45px 20px 30px; } }

	  
.slide-block-scroll {
  display: none; }

.slide-scroll .slide-block-scroll {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; }
  @media screen and (max-width: 650px) {
    .slide-scroll .slide-block-scroll {
      display: none; } }
  .slide-scroll .slide-block-scroll:hover span {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1; }
  .slide-scroll .slide-block-scroll span {
    -webkit-animation: pulse-bg 0.7s infinite alternate;
    animation: pulse-bg 0.7s infinite alternate;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    background-image: url(../img/nav-down-white.svg);
    -webkit-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center bottom 15px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 0.7; }