<div class="navbar-wrapper">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div ng-include="'partials/elements/top_menu.html'"></div>
			</div>
		</nav>
	</div>
</div>
<div class="top_subpage"></div>
<div class="about_top_menu0" ng-controller="ClickCtrl">
	<div class="container about_top_menu">
		<ul>
			<li><a onfocus="blur();" href="" ng-click="gotoAnchor(1)">Basic info</a></li>
			<li><a onfocus="blur();" href="" ng-click="gotoAnchor(2)">Profile</a></li>
			<li><a onfocus="blur();" href="" ng-click="gotoAnchor(3)">Skills Summary</a></li>
			<li><a onfocus="blur();" href="" ng-click="gotoAnchor(4)">Experience</a></li>
		</ul>
	</div>
</div>
<div class="container about">
	<div class="about_1">
	<br />
		<h1>ŁUKASZ SOJKA</h1><br />
		<!--
		<h2><a ng-click="gotoAnchor(1)">Basic info <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></h2>
		-->
		<h2 id="anchor1">Basic info </h2> 
		<table class="table table-striped table_data1">
			<tr>
				<td>nationality:</td><td>Polish</td>
			</tr>  
			<tr>
				<td>date of birth:</td><td>01.01.1983</td>
			</tr> 
			<tr>
				<td>address:</td><td>Polish</td>
			</tr> 
			<tr>
				<td>email:</td><td><a href="mailto:l.sojka@finecms.eu">l.sojka@finecms.eu</a></td>
			</tr> 
			<tr>
				<td>mobile:</td><td>074 600 300 60</td>
			</tr> 
		</table>
		<br />
		<h2 id="anchor2">Profile</h2>
		I am highly skilled Project Manager, Front end and Back end developer, CRM/CMS/web applications systems creator. I am able to create a bespoke system in shortest possible time, by myself or with a team. I am able to work under time pressure, and coupe with team and company problems.<br />
		I now how to support team working around to make it working better.<br />
		I am passionate about my work, I am not getting distracted by anything else at work, and hardly focused on project delivery.<br />
		<br />
		<h2 id="anchor3">Skills Summary</h2><br />
		<table class="table table-striped table_data2">
			<tr>
				<td>General:</td><td>Project management, Web applications developer</td>
			</tr> 
			<tr>
				<td>Main targets:</td><td>On time delivery, high solutions quality, successful team, happy customer</td>
			</tr> 
			<tr>
				<td>Scripting:</td><td>HTML/HTML5, RWD, XML, CSS/CSS3, JavaScript, Jquery, Angular, Json, Mootools, AJAX, PHP 4/5</td>
			</tr> 
			<tr>
				<td>Database:</td><td><a>MySQL</td>
			</tr> 
			<tr>
				<td>Software:</td><td>Photoshop</td>
			</tr> 
			<tr>
				<td>CMS:</td><td>Joomla, WordPress,Own solutions</td>
			</tr> 
			<tr>
				<td>Framework:</td><td>Zend, Own solutions</td>
			</tr> 
			<tr>
				<td>Other:</td><td>Cross-browser compliance, Web standards, SEO , Tr069 protocol, XML</td>
			</tr> 
		</table>
		<br />
		<h2 id="anchor4">Experience</h2> <br />
		<h3>Php developer  - front/back end developer <br />
		BIG CHOICE GROUP	December 2013 – Present<br /></h3>
		<br />
		I am working on bespoke Web Application, which is coping with everything what company does:<br />
		- contacts with customers<br />
		- sales<br />
		- campaign management<br />
		- finances<br />
		- design development<br />
		- content development<br />
		- invoices<br />
		- management<br />
		<br />
		Also in few other DEV projects: portals, websites, created websites:<br />
		http://www.bigchoicegroup.com/ - company website - front end and back end<br />
		http://www.thebigchoice.com/ - portal with news for students - front end and back end<br />
		<br />
		Technologies used: HTML, XHTML,  XML, CSS, JavaScript, JQuery, AJAX, PHP, MySQL<br />
		<br />
		<h3>
			Web applications developer,  Development manager <br />
			INNOVATIVE TECHNOLOGIES DEVELOPMENT December 2013 – Present<br />
		</h3>
		Own project and development.<br />
		My website:<br />
		http://innovative-technologies.co.uk/<br />
		<br />
		Current project:<br />
		http://innovative-technologies.co.uk/estate_agency/demo_version/ - estate agencies <br />
		http://innovative-technologies.co.uk/estate_agency/specification/<br />
		<br />
		Technologies used: HTML, XHTML,  XML, CSS, Bootstrap, JavaScript, JQuery, Angular, AJAX, PHP, MySQL, RWD<br />
		<br />
		<h3>
		Senior front/back end developer,  Development manager<br />
					Juniper Bridge Ltd		October 2012 – December 2013<br />
		</h3>
		Juniper Bridge is company which is providing to they customers technical support for they clients in 24/7 time.<br />
		<br />
		I was have created all application which this company is using for work with customers:<br />
		•	Tickets system, where agents can create description about client problem and deal with it (PAP)<br />
		•	Platform to cooperate with calls which is based on asterisk, agents, admins  and customers can see calls from CMS. Agent can take call from system. <br />
		•	Invoicing and billing system<br />
		•	Routers management system based on tr69 protocol, customers can order routers, agents can manage it by CMS<br />
		•	Program which allows to deal with tasks in company (SPECMAKER)<br />
		•	BYOD solution which is allowing to manage mobile devices connected to router to our portal<br />
		<br />
		Technologies used: HTML, XHTML,  XML, CSS, JavaScript, JQuery, AJAX, PHP, MySQL, Tr069 protocol<br />
		<br />
		<h3>
		Web Applications Consultant		<br />
		Comvision		May 2012 – October 2012<br />
		</h3>
		<br />
		Cooperation with comvision.pl <br />
		My responsibility was:<br />
		•	creating front end to internet shops, and coordination of web designers work: http://www.cstore.pl<br />
		•	Consultation on the front end to site: http://www.smsapi.pl<br />
		Technologies used: HTML,CSS,Javascript,Jquery,Ajax<br />
		<br />
		<h3>
			Web Applications Developer		<br />
			LookNET 	     January 2010 – October 2012<br />
		</h3>
		You can create here site with CMS for 100 PLN (20 pounds) at a year, client can change template in any time without losing content. <br />
		My responsibilities was front end, back end.<br />
		Interesting solutions:<br />
		•	automatic sites generation – engine its the same for all clients, but smarty are individual for every account, co you can change everything for individual client<br />
		•	semiautomatic invoices system – all in this case is done automatic<br />
		•	possibility to change graphic any time – client can change graphic of you site from admin without losing content, he can chose from 100 different propositions.<br />
		•	possibility to create new templates only by web designer<br />
		Take a look at demo version:<br />
		http://demo.taniowww.pl/index.php?lang=2<br />
		Admin panel:<br />
		http://demo.taniowww.pl/admin <br />
		<br />
		Technologies used: PHP, MYSQL, AJAX, HTML, CSS, JAVASCRIPT, JQUERY, PHOTOSHOP, SMARTY.<br />
		<br />
		Web Applications Developer		<br />
		LookNET		May 2010 – October 2012<br />
		<br />
		Project of organization league of futsal in Gliwice. Individual timetable generator, statistics, teams panel, my responsibilities was creating frond end and back end.<br />
		Technologies used: PHP, MYSQL, AJAX, HTML, CSS, JAVASCRIPT, JQUERY, PHOTOSHOP, SMARTY.<br />
		<br />
		Web Applications Developer		<br />
		LookNet 		May 2006 – October 2012<br />
		<br />
		Creating individual constructed websites with CMS for clients. My responsibilities was creating font end to all of this projects: <br />
		http://www.finecms.eu/244/258/our-realization.html<br />
		And creating back end, when did 3 versions for this project:<br />
		<br />
		Version 1: I used: HTML,CSS,PHP,MYSQL,Javascript – simple standard php (it was my project and work) 
		<br />
		Version 2: I used: HTML,CSS,PHP,MYSQL,Javascript,Jquery,Ajax,OOP,Smarty – OOP construction, own framework, nice but to slow to work with it (me and my developers -1-6 people)
		<br />
		Version 3: I used: HTML,CSS,PHP,MYSQL,Javascript,Jquery,Ajax,Smarty – structural php, for simple websites its much faster to create, and this is something what I am doing mostly in this case. (it was my project and work)<br />
		Very interesting thing about this project in version 3 was construction of database, almost all types of pages was on one table, so it was very easy to get data from it.
		<br />
		<h3>
			Web Applications Developer		<br />
			LookNet 		May 2005 – October 2012
		</h3>
		<br />
		Creating individual e-shops for clients, there was 4 versions of it:
		<br />
		Version 1: I used: HTML,CSS,PHP,MYSQL,Javascript – simple standard php (it was my project and work) – it was very simple solution, but there was nice CMS which was allows to change colors, fonts and many other things.
		<br />
		Version 2: I used: HTML,CSS,PHP,MYSQL,Javascript,Jquery,Ajax,OOP – completely new construction, and much better admin constructions, but little hard to create individual modifications(1-3 developers), i was main database constructor, front end developer, and main php developer.
		<br />
		Version 3: I used: HTML,CSS,PHP,MYSQL,Javascript,Jquery,Ajax,Smarty – It was construction which was much better to work with it. Simple code allows to create modifications and individual modules 5 times faster then in Version 2, visually was almost the same.
		<br />
		Version 4: Its almost the same like 3 and there was the same technologies, but there was so many new functions that I decided to name it Version 4.
		<br />
		I think that working with internet shops was the most complicated from project which I have done. I did here many solutions like:<br />
		- integrations with systems by XML files<br />
		- integrations with systems by CSV files<br />
		- integrations with payment systems, for examples: paypal.com, platnosci.pl,dotpay.pl<br />
		- integrations with API, fore example: Allegro.pl similar system like ebay, SMSAPI – automatic sending sms system 
		<br />
		References<br />
		http://www.finecms.eu/244/415/reviews.html 
	</div>
</div>