<div class="navbar-wrapper">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div ng-include="'partials/elements/top_menu.html'"></div>
			</div>
		</nav>
	</div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<div class="container">
				<div class="carousel-caption">
					<h1>Web Design</h1>
					<p>We care about our clients and their customers, and we know that nowadays to catch customer's attention and make him to visit your website or choose your product, design must be appealing, intriguing but simple at the same time. What we offer is great design that would mean more than thousand words for your customers.</p>
					<p><a class="btn btn-lg btn-primary" href="./#/about" role="button">Details</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="container">
				<div class="carousel-caption">
					<h1>Web Development</h1>
					<p>Modern website is not only website address on your business card and short description about what you do. By website you can create well constant relation with customers, and provide you offer in so good way that it's better to go on you website and get an important information form there and make an order from there, then to call or visit your company personally. This save your and your customer time, so you have less to do and you customer is more happy, everyone wins.</p>
					<p><a class="btn btn-lg btn-primary" href="./#/about" role="button">Details</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="container">
				<div class="carousel-caption">
					<h1>Web Applications</h1>
					<p>We create web applications, which will help you to grow your company and focus on its future. We are able to automate nearly all activities happening within your company, and provide best IT solutions and experience for your end customer. With suitable application, you can have better control over management system in your own company, all you need is access to mobile device or a simple PC. Depending on your needs, we can generate all different kinds of reports for you - statistic graphs, daily, weekly, monthly reporting - whatever you need, as your success in growing your company via better management system is our mission.</p>
					<p><a class="btn btn-lg btn-primary" href="./#/about" role="button">Details</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>				
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>
<div class="container marketing">
  <div class="row">
	<div class="col-lg-4">
	  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	  <h2>About</h2>
	  <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
	  <p><a class="btn btn-default" href="./#/about" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
	  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	  <h2>Contact</h2>
	  <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
	  <p><a class="btn btn-default" href="./#/contact" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
	  <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
	  <h2>Products</h2>
	  <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  <p><a class="btn btn-default" href="./#/products" role="button">View details &raquo;</a></p>
	</div>
  </div>
</div>