  <nav class="gbl-nav-help-container">
    <div class="gbl-nav-tip"><strong>5</strong> more sections to complete in this module!</div>
    <nav class="gbl-arrow-nav">
      <button class="gbl-arrow-nav-btn gbl-arrow-nav-left"></button>
      <button class="gbl-arrow-nav-btn gbl-arrow-nav-right"></button>
    </nav>
    <button class="gbl-help-btn">Help</button>
  </nav>

  <!-- /.gbl-nav-help-container -->
  <nav class="gbl-nav-container">
    <button class="gbl-nav-close-btn"></button>
    <div class="gbl-nav">
      <header class="gbl-nav-head">
        <span class="gbl-nav-number mod-number">1</span>
        <h3 class="gbl-nav-title">Introducing Managing Safely</h3>
      </header>
      <a class="gbl-nav-section gbl-nav-section-btn">
        <span class="count">1.1</span>
        <h3 class="gbl-nav-section-title">Introduction to Managing Safely</h3>
      </a>
      <ol class="gbl-nav-mod-list mod-list">
        <li class="mod-list-item complete">
          <a href="fasttrack/1-boxie.html" class="mod-list-link">
            <span class="count">1.0</span>
            <span class="mod-list-title"><img src="../img/fasttrack-logo.svg" class="fasttrack-logo"></span>
          </a>
        </li>
        <li class="mod-list-item active">
          <a class="mod-list-link">
            <span class="count">1.1</span>
            <span class="mod-list-title">Introduction to Managing Safely</span>
          </a>
        </li>
        <li class="mod-list-item">
          <div class="mod-list-link">
            <span class="count">1.2</span>
            <span class="mod-list-title">Reasons for Managing Safely</span>
          </div>
        </li>
        <li class="mod-list-item">
          <div class="mod-list-link">
            <span class="count">1.3</span>
            <span class="mod-list-title">Accountability vs. Responsibility</span>
          </div>
        </li>
        <li class="mod-list-item">
          <div class="mod-list-link">
            <span class="count">1.4</span>
            <span class="mod-list-title">Key Figures in Managing Safely</span>
          </div>
        </li>
        <li class="mod-list-item">
          <div class="mod-list-link">
            <span class="count">1.5</span>
            <span class="mod-list-title">Benefits of Managing Safely</span>
          </div>
        </li>
      </ol>
    </div>
  </nav>
  <!-- .gbl-nav-container -->

  <nav class="gbl-nav-mini">
    <button class="gbl-nav-mini-btn">Module</button>
    <div class="gbl-nav-mini-title">
      <span class="count">1.1</span>
      <span class="gbl-nav-mini-section">Introduction to Managing Safely</span>
    </div>
  </nav>
  <!-- /.gbl-nav-mini -->

  <section class="slide-block slide-head-block mod-secondary mod-secondary-dark10">
    <div class="slide-block-inner grid">
      <span class="slide-head-count count">1.1</span>
      <h1>Questionnnarie</h1>
    </div>
  </section>
  <!-- /.slide-head-block -->

  <section class="slide-block mod-secondary-dark5">
    <div class="slide-block-inner">
      <h2>1 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's values</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <ul>
          <li>Yes</li>
          <li>No</li>
          <li>Maybe</li>
        </ul>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-secondary-dark10">
    <div class="slide-block-inner">
      <h2>2 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's purpose</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <textarea name="test1"></textarea>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-secondary-dark5">
    <div class="slide-block-inner">
      <h2>3 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's purpose</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <textarea name="test1"></textarea>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block slide-img-block">
    <div class="slide-block-inner" style="background-image: url(../img/slides/illustrations/cash.jpg);"></div>
  </section>
  <!-- /.slide-img-block -->

  <section class="slide-block mod-primary-dark10">
    <div class="slide-block-inner">
      <h2>4 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's purpose</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <textarea name="test1"></textarea>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-primary-dark5">
    <div class="slide-block-inner">
      <h2>5 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's values</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <ul>
          <li>Yes</li>
          <li>No</li>
          <li>Maybe</li>
        </ul>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-primary-dark10">
    <div class="slide-block-inner">
      <h2>6 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's purpose</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <textarea name="test1"></textarea>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-primary-dark5">
    <div class="slide-block-inner">
      <h2>7 of 75</h2>
      <p class="slide-intro-lrg">Everyone has a clear view of Elavon's purpose</p>
      <div class="slide-highlight">
        <h3>To recap, the incidents you <strong>must</strong> report include:</h3>
        <textarea name="test1"></textarea>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block slide-img-block">
    <div class="slide-block-inner" style="background-image: url(../img/slides/illustrations/medic.jpg);"></div>
  </section>
  <!-- /.slide-img-block -->

  <section class="slide-block mod-primary-dark10">
    <div class="slide-block-inner">
      <h2>Personal Injuries or Loss</h2>
      <p class="slide-intro-lrg">On top of criminal proceedings  injured workers can make civil claims for personal injury or loss.</p>
      <p class="slide-intro-lrg">Damages are awarded based on a range of things like the loss of sight or hearing, how long an injury lasts and how it affects the person's ability to earn a living. </p>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-primary-dark5">
    <div class="slide-block-inner">
      <h2>Employer’s Liability Insurance</h2>
      <p class="slide-intro-lrg">This insures employers for injury or disease sustained by employees in the course of their employment. The minimum level of insurance cover is £5 million.</p>
      <div class="slide-highlight">
        <h3>Further Implications</h3>
        <p class="margin-btm-none">The media attention on a serious accident will change the public's  perception of your organisation. Loss of reputation is dreadful for business.</p>
      </div>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block mod-primary">
    <div class="slide-block-inner">
      <h2>Costs to your Organisation</h2>
      <p class="slide-intro-lrg">If the worst happens you need to be mindful of the extent of the costs to your organisation - think about the cost of replacement labour, accident investigation, downtime, and hikes in insurance premiums.</p>
    </div>
    <button class="slide-block-scroll"><span></span></button>
  </section>
  <!-- /.slide-block -->

  <section class="slide-block slide-next-block">
    <div class="slide-block-inner">
      <span class="slide-head-count count">1.2</span>
      <h4><strong>4</strong> Sections to go!</h4>
      <h1>Questionnnarie</h1>
      <a href="2-reasons-for-managing-safely.html" class="slide-next-btn"></a>
    </div>
  </section>
  <!-- /.slide-next-block -->

  <span class="scroll-help"></span>

  <audio id="section-intro" preload="auto">
    <source src="../audio/mod1/intro-1-1.wav" type="audio/wav">
    <source src="../audio/mod1/intro-1-1.mp3" type="audio/mp3">
  </audio>

  <script src="../js/vendor/vendor.js"></script>
  <script src="../js/main.js"></script>
  <script src="../js/slides.js"></script>
  <script src="../js/app.js"></script>
  <script src="../js/intro_scorm.js"></script>
  
  <script> 
     startTour();
    $( '#section-intro' )[0].play();
  </script>