<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="./#/home">Nice webApp</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
	<ul class="nav navbar-nav" ng-app="link">	
		<li class="active"><a is-active-nav href="./#/home">Home</a></li>
		<li><a is-active-nav href="./#/about">About</a></li>
		<li><a is-active-nav href="./#/contact">Contact</a></li>
		<li class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Examples<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li class="dropdown-header">Simple</li>
				<li><a href="./#/about">Descriptive</a></li>
				<li><a href="./#/contact">Form</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Games</li>
				<li><a href="./#/game">Shuffle and take the card</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Advaced</li>
				<li><a href="./#/products">Products</a></li>
				<li><a href="./#/search_list">Search list</a></li>
			</ul>
		</li>
	</ul>
</div>