@media screen and (max-width: 480px) {	
	.menu1 {
		background-color: rgba(0, 0, 0, 0);
		background-image: none;
		border: 0 none;
	}
	.menu1 ul li {
		width:100%;
		background-color: #F0F0F0;
		background-image: linear-gradient(to bottom, #FDFDFD, #DDDDDD);
		border: 1px solid #9E9E9E;
		margin-top:1px;
	}
	.menu1 ul li {
		display:block;
		width:100%;
	}
	.menu1 ul li a {
		display:block;
		width:100%;
	}
	.menu1 ul li a span  {
		display:block;
		text-align:center;
	}
	.structure0_1 {
		float: left;
		width: 100%;
	}
	.structure0_2 {
		margin-top:10px;
		float: left;
		width: 100%;
	}
}